<?xml version="1.0" encoding="UTF-8"?>

<suite name="Ecommerce Automation Suite">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Ecommerce Tests">

        <classes>

            <class name="LoginTest"/>
            <class name="ProductTest"/>
            <class name="CartTest"/>
            <class name="CheckoutTest"/>
            <class name="EcommerceTest"/>

        </classes>

    </test>

</suite>